/*----------- LE TITRE AU-DESSUS DE LA PAGE -----------*/

#titre {
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    text-align: center;
}

/*--------------------- QUESTION 2 --------------------*/

#q2 {
    width: 200px;
    background-color : green;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/*--------------------- QUESTION 3 --------------------*/

#q3 > p:first-child {
    background-color: red;
    margin-bottom: 20px;
}


#q3 > p:first-child + p {
    background-color: green;
    margin-top: 30px;
}

/*--------------------- QUESTION 4 --------------------*/

#q4 {
    background-color: green;
    padding: 10px 10px 10px 10px;
}


#q4 h1 {
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
}


#q4 > h1 + p {
    background-color: red;
}


#q4 span {
    background-color: yellow;
}


#q4b {
    background-color: red;
    margin-top: 10px;
}


#q4b li {
    list-style: none;
    border: 1px solid black;
}

/*--------------------- QUESTION 5 --------------------*/

/*
#q5 > p {
   position: absolute;
   top: 0;
   left: 0;
}
*/


#q5 > p {
    position: relative;
    top: 10px;
    left: 10px;
}


#q5 p {
    border: 1px solid black;
}

/*--------------------- QUESTION 6 --------------------*/

#q6 > p:first-child {
    background-color: black;
    color: white;
    float: right;
    /*float: left;*/
}


#q6 > p + p {
    background-color: green;
    color: white;
}

/*--------------------- QUESTION 7 --------------------*/

#q7 p {
    background-color: black;
    color: white;
    width: 200px;
    float: left;
    margin-right: 10px;
}

/*--------------------- QUESTION 8 --------------------*/

#q8 {
    clear: left;
    background-color: green;
    height: 310px;
}


#q8 p {
    width: 200px;
    background-color: yellow;
    float: left;
    margin-right: 30px;
}


#q8 > p + p + p + p {
    clear: left;
    background-color: indigo;
    color: white;
}

/*--------------------- QUESTION 9 --------------------*/

#q9 {
    clear: both;
    margin-bottom: 50px;
}

#q9 > p:first-child {
    background-color: black;
    color: white;
    float: right;
}

#q9 > p:first-child + p {
    background-color: indigo;
    color: white;
    float: right;
}

/*--------------------- QUESTION 10 -------------------*/

#q10 {
    border: 1px solid green;
}

#q10 > p:first-child {
    background-color: yellow;
}


#q10 > p:first-child + p {
    background-color: red;
    float: right;
}


#q10 > p:first-child + p + p {
    background-color: indigo;
    color: white;
    clear: right;
}

/*--------------------- QUESTION 11 -------------------*/

#t1 {
    background-color: #00FFFF;
    float: left;
}


#t2 {
    background-color: gray;
    width: 200px;
    float: left;
}


#t3 {
    background-color: pink;
    width: 200px;
    float: right;
}


#t4 {
    background-color: violet;
}


#t5 {
    background-color: green;
    float: none;
    clear: both;
}