/********* SETUP OF THE WHOLE CONTAINER *******/
.container-fluid {
	padding: 0px;
	margin: 0px;
}

/********** HEADER OF THE PAGE **********/
#header {
	height: 72px;
	position: relative;
	background-image: url("../img/hdr-pattern07.png");
}

.hdr-content {
	position: relative;
	display: inline-block;
	margin: 0px;
	top: 10px;
	left: 90px;
	font-size: 40px;
	font-family: fontHeader;
	font-style: italic;
	text-align: center;
}

/************ NAVIGATION BAR *************/
#div-menu {
	position: relative;
	display: inline-block;
	top: 5px;
	left: 480px;
	height: 40px;
}

.navbar-nav > li > a {
	padding: 0px;
}

.nav > li > a {
	padding: 8px;
	border-bottom: thin dotted #000000;
	font-weight: bolder;
}

#menu-page {
	margin: 0px;
	position: relative;
}

.menu-page-item {
	list-style-type: none;
	display: inline-block;
	position: relative;
	width: 150px;
	height: 40px;
	left: 18px;
	text-align: center;
}

.menu-page-link {
	text-decoration: none;
	height: 40px;
	padding: 0px;
}

.menu-page-link:hover {
	font-weight: bold;
	text-shadow: 1px 1px 2px #A4A4A4;
}

/************* LEFT MENU ************/
#left-menu { 
	display: inline-block;
	width: 300px;
	top: 30px;
	left: 50px;
	float: left;
}

#div-manag {
	display: inline-block;
	border: 2px solid #000000;
	width: 274px;
}

#div-manag-hdr {
	background-color: #F78181;
	border-bottom: 2px solid #000000;
	padding: 5px;
}

#div-manag-hdr span {
	font-weight: bolder;
	font-size: 18px;
}

#div-manag-content {
	height: 153px;
	background-color: #FFFFFF;
}

#menu-manag {
	margin: 0px;
	padding: 0px;
}

#menu-manag li {
	list-style-type: none;
	padding: 14px;
	width: 270px;
	position: relative;
	text-align: center;
	background-color: #FFFFFF;
	font-size: 110%;
}

#item-add, #item-edit {
	border-bottom: thin dotted #000000;
}

#instruction {
	padding: 20px;
	margin-top: 40px;
	width: 274px;
	height: 227px;
	border-radius: 20px;
	border: 4px dashed #A4A4A4;
}

#instruction > p {
	text-align: center;
}

/********** MODAL FORM ***********/
.modal-header, .modal-footer, .modal-body {
	background-color: #FFFFFF;
}

.form-group {
	display: inline-block;
}

.form-group-text {
	width: 350px;
	float: right;
	position: relative;
}

.form-group-img {
	float: left;
	position: relative;
}

.form-group-img > button {
	margin-top: 10px;
}

.form-button {
	position: relative;
	left: 85px;
	width: 100px;
	margin: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#add-img {
	border: 3px dashed #D8D8D8;
	width: 160px;
	height: 160px;
}

/********* TABLE OF ALL THE LITTLE VOTANTS ***********/
#div-votants {
	float: right;
	right: 60px;
	display: inline-block;
	position: relative;
	top: 30px;
	height: 463px;
	padding: 20px;
	border: thin solid #000000;
}

/************** MISC ***************/
@font-face {
	font-family: fontHeader;
	src: url("../font/sofia.otf");
}

body {
	margin: 0px;
}