body {
    background: url(fond.jpg) no-repeat;
    padding: 20px 50px 20px 50px;   
}


#Menu h1 {
    color: #8A0886;
    text-shadow: 2px 2px #3B170B;
    font-family: Arial;
    font-size: 200%;
    margin-left: 40px;
    text-decoration: underline;
}



#choix a {
    text-decoration: none;
    font-size: 300%;
}

#choix p {
    margin-top: 20px;
    word-spacing: 170px;
}

#Menu li {
    list-style: square;
    font-size: 140%;
}


#header img {
    margin: 20px 0px 20px 0px;
}


#header {
    margin-top: 50px;
    border: 3px solid olive;
    background: url(fondheader.jpg);
    font-family: Lucida Console, sans-serif;
}

#header h2, #header p {
    text-align: center;
}

#header h1 {
    text-align: center;
    color: #FACC2E;
    text-shadow: 3px 3px #3B170B;
}


#bonjour {
    margin-top: 50px;
    padding: 0px 20px 0px 20px;
    border: 1px solid gray;
}
