@{
    Layout = "/Shared/Layout.cshtml";    
}

<h1>Welcome to my Bagginshield site</h1>

<h2>I dedicate my first ASP.NET website to my dearest boys</h2>

<p>By navigating in my web, you will discover about :</p>
<p>+ Who are they ?</p>
<p>+ Why do people ship them ?</p>
<p>+ Some fanfics to warm your heart</p>
<p>+ Fanart too</p>