<!DOCTYPE html>
<html>
    <head>
        <title>A Bagginshield Page</title>
    </head>

    <body>
        <ul id="menu">
            <li><a href="/Default">What is this site ?</a></li>
            <li><a href="/About">Get to know them</a></li>
        </ul>

        <div id="main">
            @RenderBody()
            <p >"You're my King and I'm your Lionheart"</p>
        </div>    
    </body>
</html>
