<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Shared/Site.css" />
        <title>My Web Site</title>
    </head>

    <body>
        <ul id="menu">
            <li><a href="/Default">Home</a></li>
            <li><a href="/About">About</a></li>
        </ul>
        <div id="main">
            @RenderBody()
            <p>&copy; 2012 W3Schools. All rights reserved.</p>
        </div>
    </body>
</html>
